In [1]:
import pandas as pd
import os

pd.options.display.max_columns = None

In [4]:
#FOR PC
#df = pd.read_json(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\Old\yelp_academic_dataset_business.json',lines=True)

#FOR MAC
df = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/Original/yelp_academic_dataset_business.json',lines=True)

#CHECK RESTAURANT, DROP IF NOT
df['categories'] = df['categories'].str.split(", ").tolist()
def checkRestaurant(categories_list):
    if categories_list is not None:
        if 'Restaurants' in categories_list:
            return True
        else:
            return False

df['is_restaurant'] = df['categories'].apply(checkRestaurant)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   business_id    150346 non-null  object
 1   name           150346 non-null  object
 2   address        150346 non-null  object
 3   city           150346 non-null  object
 4   state          150346 non-null  object
 5   postal_code    150346 non-null  object
 6   latitude       150346 non-null  float64
 7   longitude      150346 non-null  float64
 8   stars          150346 non-null  float64
 9   review_count   150346 non-null  int64
 10  is_open        150346 non-null  int64
 11  attributes     136602 non-null  object
 12  categories     150243 non-null  object
 13  hours          127123 non-null  object
 14  is_restaurant  150243 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 17.2+ MB

In [6]:
df = df[df['is_restaurant']==True]
df.head(20)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","[Pubs, Restaurants, Italian, Bars, American (T...",None,True
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","[Vietnamese, Food, Restaurants, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",True
12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...","[American (Traditional), Restaurants, Diners, ...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",True
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","[Food, Delis, Italian, Bakeries, Restaurants]","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",True
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","[Sushi Bars, Restaurants, Japanese]","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...",True
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","[Korean, Restaurants]","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20...",True
20,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,0,"{'OutdoorSeating': 'False', 'Caters': 'True', ...","[Coffee & Tea, Food, Cafes, Bars, Wine Bars, R...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",True
22,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,IN,46250,39.904320,-86.053080,4.0,20,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTa...","[Steakhouses, Asian Fusion, Restaurants]","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",True
23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","[Restaurants, Italian]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True
24,4iRzR7OaS-QaSXuvYxEGKA,Super Dog,1160 Gallatin Pike S,Nashville,TN,37115,36.248570,-86.719986,4.0,6,0,"{'RestaurantsReservations': 'False', 'Restaura...","[Hot Dogs, Restaurants]",None,True
27,tMkwHmWFUEXrC9ZduonpTg,The Green Pheasant,215 1st Ave S,Nashville,TN,37201,36.159886,-86.773197,4.0,161,0,"{'RestaurantsGoodForGroups': 'True', 'HappyHou...","[Restaurants, Japanese, Seafood]","{'Wednesday': '16:0-22:0', 'Thursday': '16:0-2...",True
28,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"{'Smoking': 'u'no'', 'NoiseLevel': 'u'average'...","[Cocktail Bars, Bars, Italian, Nightlife, Rest...","{'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ...",True
29,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,3001 Highway 31 W,White House,TN,37188,36.464747,-86.659187,3.5,8,1,{'RestaurantsPriceRange2': '1'},"[Pizza, Chicken Wings, Sandwiches, Restaurants]","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...",True
31,Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"{'RestaurantsReservations': 'False', 'Caters':...","[Pizza, Restaurants, Salad, Soup]","{'Tuesday': '17:0-21:30', 'Wednesday': '17:0-1...",True
33,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,1,"{'RestaurantsGoodForGroups': 'True', 'WiFi': '...","[Pizza, Restaurants]","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",True
35,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,65,1,"{'OutdoorSeating': 'True', 'RestaurantsPriceRa...","[Eatertainment, Arts & Entertainment, Brewpubs...","{'Monday': '0:0-0:0', 'Wednesday': '16:0-22:0'...",True
36,2xVsWBNFwZOxIOdd9Mwnww,Cheeseburger In Paradise,116 N Pottstown Pike,Exton,PA,19341,40.029962,-75.630607,2.5,20,0,"{'NoiseLevel': 'u'average'', 'HasTV': 'True', ...","[Restaurants, Burgers]",None,True

In [46]:
df.info()
df.to_csv('/Users/garrettpinkston/TIM147/Project/data/restaurantsOnly.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52268 entries, 3 to 150340
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_id    52268 non-null  object
 1   name           52268 non-null  object
 2   address        52268 non-null  object
 3   city           52268 non-null  object
 4   state          52268 non-null  object
 5   postal_code    52268 non-null  object
 6   latitude       52268 non-null  float64
 7   longitude      52268 non-null  float64
 8   stars          52268 non-null  float64
 9   review_count   52268 non-null  int64
 10  is_open        52268 non-null  int64
 11  attributes     51703 non-null  object
 12  categories     52268 non-null  object
 13  hours          44990 non-null  object
 14  is_restaurant  52268 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 6.4+ MB

In [27]:
df2 = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/xaa.json',lines=True)
print(df2.info())
df2['Match'] = df2['business_id'].isin(df['business_id'].tolist())
df2 = df2[df2['Match']==True]
df2 = df2.drop('Match',axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404895 entries, 0 to 1404894
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1404895 non-null  object
 1   user_id      1404895 non-null  object
 2   business_id  1404895 non-null  object
 3   stars        1404895 non-null  int64
 4   useful       1404895 non-null  int64
 5   funny        1404895 non-null  int64
 6   cool         1404895 non-null  int64
 7   text         1404895 non-null  object
 8   date         1404895 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 96.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 952267 entries, 0 to 1404894
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    952267 non-null  object
 1   user_id      952267 non-null  object
 2   business_id  952267 non-null  object
 3   stars        952267 non-null  int64
 4   useful       952267 non-null  int64
 5   funny        952267 non-null  int64
 6   cool         952267 non-null  int64
 7   text         952267 non-null  object
 8   date         952267 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 72.7+ MB

In [28]:
df2.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31

In [29]:
df3 = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/xab.json',lines=True)
print(df3.info())
df3['Match'] = df3['business_id'].isin(df['business_id'].tolist())
df3 = df3[df3['Match']==True]
df3 = df3.drop('Match',axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403791 entries, 0 to 1403790
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1403791 non-null  object
 1   user_id      1403791 non-null  object
 2   business_id  1403791 non-null  object
 3   stars        1403791 non-null  int64
 4   useful       1403791 non-null  int64
 5   funny        1403791 non-null  int64
 6   cool         1403791 non-null  int64
 7   text         1403791 non-null  object
 8   date         1403791 non-null  object
dtypes: int64(4), object(5)
memory usage: 96.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 947398 entries, 0 to 1403788
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    947398 non-null  object
 1   user_id      947398 non-null  object
 2   business_id  947398 non-null  object
 3   stars        947398 non-null  int64
 4   useful       947398 non-null  int64
 5   funny        947398 non-null  int64
 6   cool         947398 non-null  int64
 7   text         947398 non-null  object
 8   date         947398 non-null  object
dtypes: int64(4), object(5)
memory usage: 72.3+ MB

In [30]:
simpleDf1 = pd.concat([df2, df3], ignore_index=True, sort=False)

In [32]:
simpleDf1.to_csv('/Users/garrettpinkston/TIM147/Project/data/simpleDf1.csv')

In [33]:
simpleDf1 = pd.read_csv('/Users/garrettpinkston/TIM147/Project/data/simpleDf1.csv')

In [35]:
df2 = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/xac.json',lines=True)
print(df2.info())
df2['Match'] = df2['business_id'].isin(df['business_id'].tolist())
df2 = df2[df2['Match']==True]
df2 = df2.drop('Match',axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403553 entries, 0 to 1403552
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1403553 non-null  object
 1   user_id      1403553 non-null  object
 2   business_id  1403553 non-null  object
 3   stars        1403553 non-null  int64
 4   useful       1403553 non-null  int64
 5   funny        1403553 non-null  int64
 6   cool         1403553 non-null  int64
 7   text         1403553 non-null  object
 8   date         1403553 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 96.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 937438 entries, 2 to 1403549
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    937438 non-null  object
 1   user_id      937438 non-null  object
 2   business_id  937438 non-null  object
 3   stars        937438 non-null  int64
 4   useful       937438 non-null  int64
 5   funny        937438 non-null  int64
 6   cool         937438 non-null  int64
 7   text         937438 non-null  object
 8   date         937438 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 71.5+ MB

In [36]:
df3 = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/xad.json',lines=True)
print(df3.info())
df3['Match'] = df3['business_id'].isin(df['business_id'].tolist())
df3 = df3[df3['Match']==True]
df3 = df3.drop('Match',axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1406093 entries, 0 to 1406092
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   review_id    1406093 non-null  object
 1   user_id      1406093 non-null  object
 2   business_id  1406093 non-null  object
 3   stars        1406093 non-null  int64
 4   useful       1406093 non-null  int64
 5   funny        1406093 non-null  int64
 6   cool         1406093 non-null  int64
 7   text         1406093 non-null  object
 8   date         1406093 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 96.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 955850 entries, 0 to 1406092
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    955850 non-null  object
 1   user_id      955850 non-null  object
 2   business_id  955850 non-null  object
 3   stars        955850 non-null  int64
 4   useful       955850 non-null  int64
 5   funny        955850 non-null  int64
 6   cool         955850 non-null  int64
 7   text         955850 non-null  object
 8   date         955850 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 72.9+ MB

In [37]:
simpleDf2 = pd.concat([df2, df3], ignore_index=True, sort=False)
simpleDf2.to_csv('/Users/garrettpinkston/TIM147/Project/data/simpleDf2.csv')

In [45]:
simpleDf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893288 entries, 0 to 1893287
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 130.0+ MB

In [39]:
simpleDf3 = pd.read_csv('/Users/garrettpinkston/TIM147/Project/data/simpleDf2.csv')

In [41]:
df3 = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/xae.json',lines=True)
print(df3.info())
df3['Match'] = df3['business_id'].isin(df['business_id'].tolist())
df3 = df3[df3['Match']==True]
df3 = df3.drop('Match',axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905400 entries, 0 to 905399
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    905400 non-null  object
 1   user_id      905400 non-null  object
 2   business_id  905400 non-null  object
 3   stars        905400 non-null  int64
 4   useful       905400 non-null  int64
 5   funny        905400 non-null  int64
 6   cool         905400 non-null  int64
 7   text         905400 non-null  object
 8   date         905400 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 62.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 626552 entries, 0 to 905399
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    626552 non-null  object
 1   user_id      626552 non-null  object
 2   business_id  626552 non-null  object
 3   stars        626552 non-null  int64
 4   useful       626552 non-null  int64
 5   funny        626552 non-null  int64
 6   cool         626552 non-null  int64
 7   text         626552 non-null  object
 8   date         626552 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 47.8+ MB

In [42]:
simpleDf3 = pd.concat([simpleDf3, df3], ignore_index=True, sort=False)

In [48]:
simpleDf3.to_csv('/Users/garrettpinkston/TIM147/Project/data/simpleDf2.csv')

TypeError: to_csv() got an unexpected keyword argument 'lines'

In [7]:
rdf = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/Original/yelp_academic_dataset_checkin.json',lines=True)

In [8]:
rdf['dates'] = rdf['date'].str.split(", ").tolist()
rdf = rdf.drop('date',axis=1)

rdf

,business_id,dates
0,---kPU91CF4Lq2-WlRu9Lw,"[2020-03-13 21:10:56, 2020-06-02 22:18:06, 202..."
1,--0iUa4sNDFiZFrAdIWhZQ,"[2010-09-13 21:43:09, 2011-05-04 23:08:15, 201..."
2,--30_8IhuyMHbSOcNWd6DQ,"[2013-06-14 23:29:17, 2014-08-13 23:20:22]"
3,--7PUidqRWpRSpXebiyxTg,"[2011-02-15 17:12:00, 2011-07-28 02:46:10, 201..."
4,--7jw19RH9JKXgFohspgQw,"[2014-04-21 20:42:11, 2014-04-28 21:04:46, 201..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"[2013-03-23 16:22:47, 2013-04-07 02:03:12, 201..."
131926,zznZqH9CiAznbkV6fXyHWA,[2021-06-12 01:16:12]
131927,zzu6_r3DxBJuXcjnOYVdTw,"[2011-05-24 01:35:13, 2012-01-01 23:44:33, 201..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"[2016-12-03 23:33:26, 2018-12-02 19:08:45]"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,[2015-01-06 17:51:53]

In [9]:
rdf['Match'] = rdf['business_id'].isin(df['business_id'].tolist())
rdf.info()
rdf = rdf[rdf['Match']==True]
rdf = rdf.drop('Match',axis=1)
rdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   dates        131930 non-null  object
 2   Match        131930 non-null  bool
dtypes: bool(1), object(2)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51302 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  51302 non-null  object
 1   dates        51302 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [13]:
restaurantsWithReviews = df.merge(rdf,on='business_id')

In [54]:
rdf.to_csv('/Users/garrettpinkston/TIM147/Project/data/ReviewTimestamp.csv')

In [12]:
rdf

,business_id,dates
0,---kPU91CF4Lq2-WlRu9Lw,"[2020-03-13 21:10:56, 2020-06-02 22:18:06, 202..."
1,--0iUa4sNDFiZFrAdIWhZQ,"[2010-09-13 21:43:09, 2011-05-04 23:08:15, 201..."
3,--7PUidqRWpRSpXebiyxTg,"[2011-02-15 17:12:00, 2011-07-28 02:46:10, 201..."
5,--8IbOsAAxjKRoYsBFL-PA,"[2015-06-06 01:03:19, 2015-07-29 16:50:58, 201..."
18,--ZVrH2X2QXBFdCilbirsw,"[2010-08-12 18:21:29, 2010-08-20 17:49:17, 201..."
...,...,...
131924,zzjFdJwXuxBOGe9JeY_EMw,"[2015-01-14 19:21:48, 2015-06-26 17:16:54, 201..."
131925,zznJox6-nmXlGYNWgTDwQQ,"[2013-03-23 16:22:47, 2013-04-07 02:03:12, 201..."
131926,zznZqH9CiAznbkV6fXyHWA,[2021-06-12 01:16:12]
131927,zzu6_r3DxBJuXcjnOYVdTw,"[2011-05-24 01:35:13, 2012-01-01 23:44:33, 201..."
131929,zzyx5x0Z7xXWWvWnZFuxlQ,[2015-01-06 17:51:53]

In [16]:
restaurantsWithReviews.to_csv('/Users/garrettpinkston/TIM147/Project/data/RestaurantsWithDates.csv')

In [17]:
restaurantsWithReviews

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,dates
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"[2010-08-18 17:05:36, 2010-11-25 17:45:31, 201..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"[2012-12-16 05:27:33, 2013-02-15 04:00:46, 201..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","[Pubs, Restaurants, Italian, Bars, American (T...",None,True,"[2012-04-16 22:28:12, 2012-04-20 22:38:55, 201..."
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"[2011-01-17 15:31:21, 2011-02-23 21:28:08, 201..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","[Vietnamese, Food, Restaurants, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",True,"[2018-07-19 20:23:33, 2019-07-12 15:37:41, 201..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51297,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","[Restaurants, Sandwiches, Convenience Stores, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",True,"[2010-10-17 11:36:58, 2011-01-19 01:28:20, 201..."
51298,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...","[Cafes, Juice Bars & Smoothies, Coffee & Tea, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '...",True,"[2013-10-06 23:56:33, 2013-10-18 00:35:35, 201..."
51299,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","[Restaurants, Mexican]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True,"[2017-10-08 12:17:20, 2017-10-28 06:18:13, 201..."
51300,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","[Restaurants, Comfort Food, Food, Food Trucks,...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",True,"[2015-06-18 23:32:40, 2018-06-20 23:24:35, 201..."
51301,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': '{'touristy': False, 'hipster': F...","[Middle Eastern, Restaurants]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True,"[2017-12-19 01:49:12, 2018-02-18 21:35:39, 201..."

In [19]:
snippet = restaurantsWithReviews.iloc[0:30]

In [22]:
snippet.to_csv('/Users/garrettpinkston/TIM147/Project/data/FormattedRestaurantSnippet.csv')

In [23]:
snippet

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,dates
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"[2010-08-18 17:05:36, 2010-11-25 17:45:31, 201..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"[2012-12-16 05:27:33, 2013-02-15 04:00:46, 201..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","[Pubs, Restaurants, Italian, Bars, American (T...",None,True,"[2012-04-16 22:28:12, 2012-04-20 22:38:55, 201..."
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"[2011-01-17 15:31:21, 2011-02-23 21:28:08, 201..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","[Vietnamese, Food, Restaurants, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",True,"[2018-07-19 20:23:33, 2019-07-12 15:37:41, 201..."
5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...","[American (Traditional), Restaurants, Diners, ...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",True,"[2010-07-24 13:09:14, 2010-09-05 16:25:35, 201..."
6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","[Food, Delis, Italian, Bakeries, Restaurants]","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",True,"[2010-08-26 17:52:51, 2011-02-13 00:43:54, 201..."
7,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","[Sushi Bars, Restaurants, Japanese]","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...",True,"[2017-11-25 02:28:19, 2017-11-28 23:17:19, 201..."
8,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","[Korean, Restaurants]","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20...",True,"[2013-12-06 22:32:24, 2013-12-18 02:03:03, 201..."
9,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,0,"{'OutdoorSeating': 'False', 'Caters': 'True', ...","[Coffee & Tea, Food, Cafes, Bars, Wine Bars, R...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",True,"[2012-07-30 18:35:27, 2012-08-11 20:40:23, 201..."
10,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,IN,46250,39.904320,-86.053080,4.0,20,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTa...","[Steakhouses, Asian Fusion, Restaurants]","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",True,"[2021-03-13 01:10:39, 2021-06-05 20:52:45, 202..."
11,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","[Restaurants, Italian]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True,"[2010-11-11 14:05:01, 2010-12-31 20:24:03, 201..."
12,4iRzR7OaS-QaSXuvYxEGKA,Super Dog,1160 Gallatin Pike S,Nashville,TN,37115,36.248570,-86.719986,4.0,6,0,"{'RestaurantsReservations': 'False', 'Restaura...","[Hot Dogs, Restaurants]",None,True,"[2010-12-06 15:55:55, 2011-03-05 20:41:50, 201..."
13,tMkwHmWFUEXrC9ZduonpTg,The Green Pheasant,215 1st Ave S,Nashville,TN,37201,36.159886,-86.773197,4.0,161,0,"{'RestaurantsGoodForGroups': 'True', 'HappyHou...","[Restaurants, Japanese, Seafood]","{'Wednesday': '16:0-22:0', 'Thursday': '16:0-2...",True,"[2018-11-11 01:13:22, 2018-11-14 06:24:26, 201..."
14,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"{'Smoking': 'u'no'', 'NoiseLevel': 'u'average'...","[Cocktail Bars, Bars, Italian, Nightlife, Rest...","{'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ...",True,"[2016-10-17 22:28:42, 2016-10-21 22:08:06, 201..."
15,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,3001 Highway 31 W,White House,TN,37188,36.464747,-86.659187,3.5,8,1,{'RestaurantsPriceRange2': '1'},"[Pizza, Chicken Wings, Sandwiches, Restaurants]","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...",True,[2015-03-13 13:25:50]
16,Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"{'RestaurantsReservations': 'False', 'Caters':...","[Pizza, Restaurants, Salad, Soup]","{'Tuesday': '17:0-21:30', 'Wednesday': '17:0-1...",True,"[2014-06-27 23:27:25, 2014-06-27 23:40:18, 201..."
17,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,10 Rittenhouse Pl,Ardmore,PA,19003,40.006707,-75.289671,3.5,109,1,"{'RestaurantsGoodForGroups': 'True', 'WiFi': '...","[Pizza, Restaurants]","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",True,"[2010-08-20 23:35:58, 2010-10-15 20:52:20, 201..."
18,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,65,1,"{'OutdoorSeating': 'True', 'RestaurantsPriceRa...","[Eatertainment, Arts & Entertainment, Brewpubs...","{'Monday': '0:0-0:0', 'Wednesday': '16:0-22:0'...",True,"[2019-03-09 17:44:26, 2019-03-16 23:26:17, 201..."
19,2xVsWBNFwZOxIOdd9Mwnww,Cheeseburger In Paradise,116 N Pottstown Pike,Exton,PA,19341,40.029962,-75.630607,2.5,20,0,"{'NoiseLevel': 'u'average'', 'HasTV': 'True', ...","[Restaurants, Burgers]",None,True,"[2010-03-28 19:21:18, 2010-09-20 16:24:39, 201..."
20,ljxNT9p0y7YMPx0fcNBGig,Tony's Restaurant & 3rd Street Cafe,312 Piasa St,Alton,IL,62002,38.896563,-90.186203,3.0,94,1,"{'RestaurantsReservations': 'True', 'Restauran...","[Restaurants, Specialty Food, Steakhouses, Foo...","{'Monday': '0:0-0:0', 'Tuesday': '16:0-21:30',...",True,"[2010-01-27 02:51:02, 2010-03-19 15:49:20, 201..."
21,wghnIlMb_i5U46HMBGx9ig,China Dragon Restaurant,"1625 W Valencia Rd, Ste 101-103",Tucson,AZ,85746,32.132305,-110.999985,3.0,23,0,"{'WiFi': ''no'', 'BusinessParking': '{'garage'...","[Restaurants, Chinese]","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",True,"[2011-02-11 23:12:44, 2011-03-01 00:15:24, 201..."
22,lk9IwjZXqUMqqOhM774DtQ,Caviar & Bananas,2031 Broadway,Nashville,TN,37203,36.148371,-86.798895,3.5,159,0,"{'RestaurantsTakeOut': 'True', 'RestaurantsRes...","[Coffee & Tea, Restaurants, Wine Bars, Bars, N...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ...",True,"[2017-06-18 17:23:58, 2017-06-20 23:47:06, 201..."
23,ABxoFuzZy5mqQ8C5FJJajQ,Core de Roma,201 Jefferson St,Bala Cynwyd,PA,19004,40.028357,-75.238084,5.0,12,1,"{'RestaurantsTakeOut': 'None', 'RestaurantsDel...","[Restaurants, Italian]","{'Tuesday': '15:0-20:30', 'Wednesday': '15:0-2...",True,"[2021-03-24 22:10:36, 2021-10-30 23:13:57]"
24,cVBxfMC4lp3DnocjYA3FHQ,Paws The Cat Cafe,10588 109 Street,Edmonton,AB,T5H 3B2,53.549633,-113.508780,5.0,20,0,"{'RestaurantsAttire': ''casual'', 'Restaurants...","[Coffee & Tea, Cafes, Pets, Restaurants, Pet A...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-21:0', ...",True,"[2017-11-30 19:49:29, 2018-01-23 22:10:48, 201..."
25,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,10440 N Dale Mabry Hwy,Tampa,FL,33618,28.046203,-82.505053,4.0,23,0,"{'BusinessParking': '{'garage': False, 'street...","[Restaurants, American (New), Italian]","{'Monday': '11:30-21:0', 'Tuesday': '11:30-21:...",True,"[2013-10-27 01:47:28, 2013-10-29 22:11:43, 201..."
26,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,2038 N Dale Mabry Hwy,Tampa,FL,33607,27.960514,-82.506127,4.0,35,0,"{'BusinessParking': '{'garage': False, 'street...","[Restaurants, Pizza]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True,"[2013-06-29 05:22:17, 2013-09-07 21:06:08, 201..."
27,Si6LXSR9gvAbmgO5DzV2cw,Lafitte's Landing Seafood House,1700 Lapalco Blvd,Harvey,LA,70058,29.875482,-90.049380,2.5,38,0,"{'WiFi': ''no'', 'RestaurantsReservations': 'T...","[Restaurants, Soup, Seafood, Burgers]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True,"[2016-08-03 00:27:55, 2016-08-17 00:48:49, 201..."
28,seKihQKpGGnCeLuELRQPSQ,Twin Peaks,6880 E 82nd St,Indianapolis,IN,46250,39.906295,-86.047463,3.5,257,1,"{'CoatCheck': 'False', 'Music': '{'dj': False}...","[Sports Bars, American (New), American (Tradit...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-0:0', '...",True,"[2014-12-12 22:05:22, 2014-12-14 00:30:45, 201..."
29,L_TT0BFmFwORAMaA83K54A,Village Tap Room,838 Broad Ripple Ave,Indianapolis,IN,46220,39.869911,-86.143577,2.5,23,0,"{'Alcohol': 'u'none'', 'BestNights': '{'monday...","[Gastropubs, Cocktail Bars, Beer Bar, Bars, Re...",None,True,"[2015-11-19 01:50:27, 2015-11-21 00:08:07, 201..."