In [1]:
import os
import numpy as np
import pandas as pd
import math
import matplotlib.pylab as plt
from ast import literal_eval
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [2]:
path = "C:/School/tim147/TIM147/DataSnippets/snippetRestaurants.csv"
df = pd.read_csv(path).dropna()
df.reviewDate = df.reviewDate.apply(literal_eval)
df.starList = df.starList.apply(literal_eval)
df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,...,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,reviewDate
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,...,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...","[2008-03-09 00:36:56, 2008-06-16 13:41:58, 200..."
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,...,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[2012-12-18 08:45:44, 2013-07-08 00:59:08, 201..."
3,3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,...,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","['Ice Cream & Frozen Yogurt', 'Fast Food', 'Bu...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"['2011-01-17 15:31:21', '2011-02-23 21:28:08',...","[3, 2, 1, 1, 1, 1, 1, 1, 5, 1]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[2011-07-01 23:01:11, 2016-06-13 04:55:46, 201..."
5,5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,...,"{'RestaurantsReservations': 'False', 'Restaura...","['American (Traditional)', 'Restaurants', 'Din...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",True,"['2010-07-24 13:09:14', '2010-09-05 16:25:35',...","[4, 4, 5, 2, 4, 1, 1, 4, 5, 1, 4, 1, 1, 3, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...","[2014-03-16 13:59:31, 2014-06-11 13:37:34, 201..."
6,6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,...,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","['Food', 'Delis', 'Italian', 'Bakeries', 'Rest...","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",True,"['2010-08-26 17:52:51', '2011-02-13 00:43:54',...","[4, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, ...","[3, 2, 1, 3, 2, 2, 0, 2, 15, 0, 0, 0, 0, 1, 2,...","[0, 0, 1, 0, 1, 0, 0, 0, 9, 0, 0, 1, 0, 0, 0, ...","[0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[2009-12-03 00:38:28, 2011-01-24 17:32:36, 201..."

In [3]:
df.dtypes

Unnamed: 0         int64
business_id       object
name              object
address           object
city              object
state             object
postal_code       object
latitude         float64
longitude        float64
stars            float64
review_count       int64
is_open            int64
attributes        object
categories        object
hours             object
is_restaurant       bool
checkinDate       object
starList          object
useful            object
funny             object
cool              object
reviewDate        object
dtype: object

In [4]:
def replace_inner_list_content(arr):
    return [(round(pd.to_datetime(inner_list, format='%Y-%m-%d %H:%M:%S').timestamp())) for inner_list in arr]

df['reviewDate'] = df['reviewDate'].apply(replace_inner_list_content)

In [5]:
scaler = MinMaxScaler()

# Apply MinMaxScaler to the DataFrame column
df['reviewDate'] = df['reviewDate'].apply(lambda x: scaler.fit_transform(pd.DataFrame(x)).flatten())
df['reviewDate']

0     [0.0, 0.01996597652790344, 0.06510310374534845...
1     [0.0, 0.06722668935683895, 0.6692294090417015,...
3     [0.0, 0.5056837591586207, 0.5479010067430279, ...
5     [0.0, 0.03353306706323789, 0.09102075596469472...
6     [0.0, 0.12172458962518728, 0.15303284056564515...
                            ...
94    [0.0, 0.027563129566829048, 0.1224098242765858...
96    [0.0, 0.07533507805157758, 0.12913978201688447...
97    [0.0, 0.015161215021772811, 0.0219412769873774...
98    [0.0, 0.0009250791909285461, 0.044257628302855...
99    [0.0, 0.015249421890594306, 0.0181925539171601...
Name: reviewDate, Length: 83, dtype: object

In [6]:
print(type(df['reviewDate'].iloc[1][5]))
print(type(df['starList'].iloc[1][5] ))

print(df['reviewDate'].iloc[1]) #1615015080
print(df['starList'].iloc[1][5]) #1

<class 'numpy.float64'>
<class 'int'>
[0.         0.06722669 0.66922941 0.91583269 0.91622375 1.        ]
1

In [7]:
X = df['reviewDate']

In [8]:
X.head()

0    [0.0, 0.01996597652790344, 0.06510310374534845...
1    [0.0, 0.06722668935683895, 0.6692294090417015,...
3    [0.0, 0.5056837591586207, 0.5479010067430279, ...
5    [0.0, 0.03353306706323789, 0.09102075596469472...
6    [0.0, 0.12172458962518728, 0.15303284056564515...
Name: reviewDate, dtype: object

In [9]:
Y = df['starList']

In [10]:
Y.head()

0    [4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...
1                                   [4, 4, 1, 1, 2, 1]
3                       [3, 2, 1, 1, 1, 1, 1, 1, 5, 1]
5    [4, 4, 5, 2, 4, 1, 1, 4, 5, 1, 4, 1, 1, 3, 1, ...
6    [4, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, ...
Name: starList, dtype: object

In [11]:
print(type(df['reviewDate'].iloc[1][5]))
print(type(df['starList'].iloc[1][5] ))

<class 'numpy.float64'>
<class 'int'>

In [12]:
def calculate_lin(list1, list2):
    slope, intercept, r, p, std_err = stats.linregress(list1, list2)
    return slope, intercept

starSlope = list()
starInt = list()
for i in range(len(X)):
    slope, intercept = calculate_lin(X.iloc[i], Y.iloc[i])
    starSlope.append(slope)
    starInt.append(intercept)

In [13]:
print(starSlope[:10])

[0.8313305088446795, -3.0205241924263393, -0.4778703019292221, -1.4121494598135433, -0.15450180076037479, 0.08215762183140121, -0.3693307536936716, 1.0294984882599831, -2.4725725504332132, 0.043414685073407795]

In [14]:
# Calculate the correlation between rows (lists)
def calculate_correlation(list1, list2):
    # Calculate correlation coefficient using numpy's corrcoef function
    correlation_matrix = np.corrcoef(list1, list2)
    # Return the correlation coefficient at position [0, 1]
    return correlation_matrix[0, 1]

starCorr = list()
for index, row in df.iterrows():
    correlation = calculate_correlation(row['reviewDate'], row['starList'])
    starCorr.append(correlation)

print(starCorr[:10])

[0.19456981688807365, -0.9214663564588226, -0.10945217150039123, -0.2725354200057008, -0.02900652293915536, 0.023338928787107197, -0.09725083614861754, 0.19479680972124264, -0.4874841125187435, 0.005954077879972034]

In [15]:
df['is_open'].head(10)

0     1
1     1
3     1
5     1
6     0
7     1
8     1
9     0
10    1
11    1
Name: is_open, dtype: int64