In [1]:
import os
import numpy as np
import pandas as pd
import math
import matplotlib.pylab as plt
from ast import literal_eval
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantsWithDatesAndStars.csv').dropna()
df.reviewDate = df.reviewDate.apply(literal_eval)
df.starList = df.starList.apply(literal_eval)
df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,...,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,reviewDate
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,...,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...","[2008-03-09 00:36:56, 2008-06-16 13:41:58, 200..."
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,...,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[2012-12-18 08:45:44, 2013-07-08 00:59:08, 201..."
3,3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,...,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","['Ice Cream & Frozen Yogurt', 'Fast Food', 'Bu...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"['2011-01-17 15:31:21', '2011-02-23 21:28:08',...","[3, 2, 1, 1, 1, 1, 1, 1, 5, 1]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[2011-07-01 23:01:11, 2016-06-13 04:55:46, 201..."
5,5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,...,"{'RestaurantsReservations': 'False', 'Restaura...","['American (Traditional)', 'Restaurants', 'Din...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",True,"['2010-07-24 13:09:14', '2010-09-05 16:25:35',...","[4, 4, 5, 2, 4, 1, 1, 4, 5, 1, 4, 1, 1, 3, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...","[2014-03-16 13:59:31, 2014-06-11 13:37:34, 201..."
6,6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,...,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","['Food', 'Delis', 'Italian', 'Bakeries', 'Rest...","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",True,"['2010-08-26 17:52:51', '2011-02-13 00:43:54',...","[4, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, ...","[3, 2, 1, 3, 2, 2, 0, 2, 15, 0, 0, 0, 0, 1, 2,...","[0, 0, 1, 0, 1, 0, 0, 0, 9, 0, 0, 1, 0, 0, 0, ...","[0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[2009-12-03 00:38:28, 2011-01-24 17:32:36, 201..."

In [4]:
def replace_inner_list_content(arr):
    return [(round(pd.to_datetime(inner_list, format='%Y-%m-%d %H:%M:%S').timestamp())) for inner_list in arr]

df['reviewDate'] = df['reviewDate'].apply(replace_inner_list_content)

In [5]:
scaler = MinMaxScaler()

# Apply MinMaxScaler to the DataFrame column
df['reviewDate'] = df['reviewDate'].apply(lambda x: scaler.fit_transform(pd.DataFrame(x)).flatten())
df['reviewDate']

0        [0.0, 0.01996597652790344, 0.06510310374534845...
1        [0.0, 0.06722668935683895, 0.6692294090417015,...
3        [0.0, 0.5056837591586207, 0.5479010067430279, ...
5        [0.0, 0.03353306706323789, 0.09102075596469472...
6        [0.0, 0.12172458962518728, 0.15303284056564515...
                               ...
20479    [0.0, 0.08289195913935554, 0.16379446461273695...
20480    [0.0, 0.5652939584427621, 0.6505479314835583, ...
20481    [0.0, 0.0013633450475847297, 0.003020230517966...
20482    [0.0, 0.037699762126152336, 0.1651779045642314...
20483    [0.0, 0.026959001294988738, 0.0337728559916152...
Name: reviewDate, Length: 17602, dtype: object

In [6]:
print(type(df['reviewDate'].iloc[1][5]))
print(type(df['starList'].iloc[1][5] ))

print(df['reviewDate'].iloc[1]) #1615015080
print(df['starList'].iloc[1][5]) #1

<class 'numpy.float64'>
<class 'int'>
[0.         0.06722669 0.66922941 0.91583269 0.91622375 1.        ]
1

In [7]:
X = df['reviewDate']

In [8]:
X.head()

0    [0.0, 0.01996597652790344, 0.06510310374534845...
1    [0.0, 0.06722668935683895, 0.6692294090417015,...
3    [0.0, 0.5056837591586207, 0.5479010067430279, ...
5    [0.0, 0.03353306706323789, 0.09102075596469472...
6    [0.0, 0.12172458962518728, 0.15303284056564515...
Name: reviewDate, dtype: object

In [9]:
Y = df['starList']

In [10]:
Y.head()

0    [4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...
1                                   [4, 4, 1, 1, 2, 1]
3                       [3, 2, 1, 1, 1, 1, 1, 1, 5, 1]
5    [4, 4, 5, 2, 4, 1, 1, 4, 5, 1, 4, 1, 1, 3, 1, ...
6    [4, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, ...
Name: starList, dtype: object

In [11]:
print(type(df['reviewDate'].iloc[1][5]))
print(type(df['starList'].iloc[1][5] ))

<class 'numpy.float64'>
<class 'int'>

In [12]:
def calculate_lin(list1, list2):
    slope, intercept, r, p, std_err = stats.linregress(list1, list2)
    return slope, intercept

starSlope = list()
starInt = list()
for i in range(len(X)):
    slope, intercept = calculate_lin(X.iloc[i], Y.iloc[i])
    starSlope.append(slope)
    starInt.append(intercept)

In [14]:
# Calculate the correlation between rows (lists)
def calculate_correlation(list1, list2):
    # Calculate correlation coefficient using numpy's corrcoef function
    correlation_matrix = np.corrcoef(list1, list2)
    # Return the correlation coefficient at position [0, 1]
    return correlation_matrix[0, 1]

starCorr = list()
for index, row in df.iterrows():
    correlation = calculate_correlation(row['reviewDate'], row['starList'])
    starCorr.append(correlation)

print(starCorr[:10])

C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

[0.1945698168880737, -0.9214663564588227, -0.10945217150039123, -0.27253542000570086, -0.029006522939155337, 0.02333892878710731, -0.09725083614861751, 0.19479680972124264, -0.4874841125187434, 0.005954077879972013]

In [28]:
df.drop('reviewDate',axis=1,inplace=True)
df['StarSlope'] = starSlope

In [29]:
df

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,...,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,StarSlope
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,...,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...",0.831331
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,...,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",-3.020524
3,3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,...,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","['Ice Cream & Frozen Yogurt', 'Fast Food', 'Bu...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"['2011-01-17 15:31:21', '2011-02-23 21:28:08',...","[3, 2, 1, 1, 1, 1, 1, 1, 5, 1]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-0.477870
5,5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,...,"{'RestaurantsReservations': 'False', 'Restaura...","['American (Traditional)', 'Restaurants', 'Din...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",True,"['2010-07-24 13:09:14', '2010-09-05 16:25:35',...","[4, 4, 5, 2, 4, 1, 1, 4, 5, 1, 4, 1, 1, 3, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",-1.412149
6,6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,...,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","['Food', 'Delis', 'Italian', 'Bakeries', 'Rest...","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",True,"['2010-08-26 17:52:51', '2011-02-13 00:43:54',...","[4, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, ...","[3, 2, 1, 3, 2, 2, 0, 2, 15, 0, 0, 0, 0, 1, 2,...","[0, 0, 1, 0, 1, 0, 0, 0, 9, 0, 0, 1, 0, 0, 0, ...","[0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",-0.154502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20479,20479,3nixFmEQlac1D0ode6WFMQ,Jasper Bar and Grill,"In Edmonton International Airport, 25 Airport ...",Edmonton,AB,T5G 2Y5,53.567744,-113.518123,2.0,...,"{'Caters': 'False', 'Alcohol': ""u'full_bar'"", ...","['American (Traditional)', 'Restaurants']","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",True,['2013-08-13 23:36:49'],"[3, 2, 1, 4, 1, 2, 1, 2, 1]","[5, 1, 2, 0, 0, 1, 0, 0, 0]","[2, 0, 0, 0, 1, 0, 0, 0, 0]","[5, 0, 0, 0, 0, 0, 0, 0, 0]",-1.640544
20480,20480,AX9ppYZHLiztWo2v4DXO2A,Bonjour Creperie Cafe,"790 Edison Furling Rd, Box 495",Furlong,PA,18925,40.363706,-74.951159,4.5,...,"{'GoodForMeal': ""{'dessert': False, 'latenight...","['Restaurants', 'Gluten-Free', 'Creperies', 'C...","{'Wednesday': '16:0-21:0', 'Thursday': '16:0-2...",True,"['2016-09-09 17:10:57', '2017-11-19 15:15:19',...","[5, 5, 5, 4, 5, 5, 3]","[3, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0, 0]","[3, 0, 0, 0, 0, 0, 0]",-1.060891
20481,20481,1YQDxTk1Uy0sytD4Zs7UOQ,Bodega Highlands,6509 112th Avenue NW,Edmonton,AB,T5W 0P1,53.564632,-113.438121,4.5,...,"{'RestaurantsTakeOut': 'False', 'CoatCheck': '...","['Bars', 'Nightlife', 'Restaurants', 'Spanish'...","{'Monday': '16:30-22:0', 'Tuesday': '16:30-22:...",True,"['2017-01-19 02:35:39', '2017-01-21 04:20:42',...","[5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, 1, 4, ...","[5, 4, 9, 2, 6, 2, 2, 2, 7, 2, 2, 2, 2, 1, 4, ...","[0, 0, 4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 0, 2, 0, 1, 0, 1, 0, 5, 1, 0, 1, 0, 1, 1, ...",-0.485933
20482,20482,9t0Xz9XqfaSJR5x5BDpijw,House of Szechuan,107 Fairfield Ave,Upper Darby,PA,19082,39.960829,-75.262936,4.0,...,"{'Caters': 'True', 'OutdoorSeating': 'False', ...","['Szechuan', 'Chinese', 'Restaurants']","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",True,"['2015-01-04 22:15:33', '2015-01-15 17:26:20',...","[5, 5, 5, 5, 5, 5, 3, 4, 4, 4, 5, 1, 1]","[1, 1, 0, 3, 0, 2, 0, 0, 0, 0, 0, 2, 0]","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-2.888708
20483,20483,fqjyT54A1Dw27-ua8ZqiPg,Rib City,1181 Colonnade Ctr,Des Peres,MO,63131,38.602606,-90.441126,3.5,...,"{'GoodForKids': 'True', 'RestaurantsAttire': ""...","['Bars', 'Nightlife', 'Restaurants', 'Barbeque']","{'Tuesday': '11:0-20:0', 'Wednesday': '11:0-20...",True,"['2014-09-07 01:36:45', '2014-09-26 00:45:19',...","[3, 4, 1, 5, 1, 5, 4, 2, 5, 4, 4, 5, 2, 1, 1, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, ...",0.422275

In [30]:
df.to_csv('RestaurantInfoWithSlope.csv')