In [1]:
import os

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantInfoComplete.csv')

In [3]:
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,StarSlope,population,pop_density,median_income,locations,chain
0,0,0,0,MTSW4McQd7CbVtyjqoe9mw,sthonorepastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...",0.831331,14984.0,10634.5,59706,1,not
1,1,1,1,CF33F8-E6oudUQ46HnavjQ,sonicdrivein,615 S Main St,Ashland City,TN,37015.0,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",-3.020524,18979.0,47.1,69514,48,medium
2,2,3,3,bBDDEgkFA1Otx9Lfe7BZUQ,sonicdrivein,2312 Dickerson Pike,Nashville,TN,37207.0,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","['Ice Cream & Frozen Yogurt', 'Fast Food', 'Bu...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"['2011-01-17 15:31:21', '2011-02-23 21:28:08',...","[3, 2, 1, 1, 1, 1, 1, 1, 5, 1]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-0.477870,40697.0,812.3,300000,48,medium
3,3,5,5,il_Ro8jwPlHresjw9EGmBg,dennys,8901 US 31 S,Indianapolis,IN,46227.0,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...","['American (Traditional)', 'Restaurants', 'Din...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",True,"['2010-07-24 13:09:14', '2010-09-05 16:25:35',...","[4, 4, 5, 2, 4, 1, 1, 4, 5, 1, 4, 1, 1, 3, 1, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",-1.412149,57359.0,1326.9,32765,29,medium
4,4,6,6,0bPLkL0QhhPO5kt1_EXmNQ,ziositalianmarket,2575 E Bay Dr,Largo,FL,33771.0,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","['Food', 'Delis', 'Italian', 'Bakeries', 'Rest...","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",True,"['2010-08-26 17:52:51', '2011-02-13 00:43:54',...","[4, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, ...","[3, 2, 1, 3, 2, 2, 0, 2, 15, 0, 0, 0, 0, 1, 2,...","[0, 0, 1, 0, 1, 0, 0, 0, 9, 0, 0, 1, 0, 0, 0, ...","[0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",-0.154502,28174.0,1816.5,35403,1,not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19030,17598,20480,20480,AX9ppYZHLiztWo2v4DXO2A,bonjourcreperiecafe,"790 Edison Furling Rd, Box 495",Furlong,PA,18925.0,40.363706,-74.951159,4.5,8,1,"{'GoodForMeal': ""{'dessert': False, 'latenight...","['Restaurants', 'Gluten-Free', 'Creperies', 'C...","{'Wednesday': '16:0-21:0', 'Thursday': '16:0-2...",True,"['2016-09-09 17:10:57', '2017-11-19 15:15:19',...","[5, 5, 5, 4, 5, 5, 3]","[3, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0, 0]","[3, 0, 0, 0, 0, 0, 0]",-1.060891,6567.0,256.1,300000,1,not
19031,17599,20481,20481,1YQDxTk1Uy0sytD4Zs7UOQ,bodegahighlands,6509 112th Avenue NW,Edmonton,AB,NaN,53.564632,-113.438121,4.5,47,1,"{'RestaurantsTakeOut': 'False', 'CoatCheck': '...","['Bars', 'Nightlife', 'Restaurants', 'Spanish'...","{'Monday': '16:30-22:0', 'Tuesday': '16:30-22:...",True,"['2017-01-19 02:35:39', '2017-01-21 04:20:42',...","[5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, 1, 4, ...","[5, 4, 9, 2, 6, 2, 2, 2, 7, 2, 2, 2, 2, 1, 4, ...","[0, 0, 4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 0, 2, 0, 1, 0, 1, 0, 5, 1, 0, 1, 0, 1, 1, ...",-0.485933,NaN,NaN,22919,1,not
19032,17600,20482,20482,9t0Xz9XqfaSJR5x5BDpijw,houseofszechuan,107 Fairfield Ave,Upper Darby,PA,19082.0,39.960829,-75.262936,4.0,11,0,"{'Caters': 'True', 'OutdoorSeating': 'False', ...","['Szechuan', 'Chinese', 'Restaurants']","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",True,"['2015-01-04 22:15:33', '2015-01-15 17:26:20',...","[5, 5, 5, 5, 5, 5, 3, 4, 4, 4, 5, 1, 1]","[1, 1, 0, 3, 0, 2, 0, 0, 0, 0, 0, 2, 0]","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-2.888708,43270.0,6486.9,35188,2,not
19033,17600,20482,20482,9t0Xz9XqfaSJR5x5BDpijw,houseofszechuan,107 Fairfield Ave,Upper Darby,PA,19082.0,39.960829,-75.262936,4.0,11,0,"{'Caters': 'True', 'OutdoorSeating': 'False', ...","['Szechuan', 'Chinese', 'Restaurants']","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",True,"['2015-01-04 22:15:33', '2015-01-15 17:26:20',...","[5, 5, 5, 5, 5, 5, 3, 4, 4, 4, 5, 1, 1]","[1, 1, 0, 3, 0, 2, 0, 0, 0, 0, 0, 2, 0]","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-2.888708,43270.0,6486.9,35165,2,not
19034,17601,20483,20483,fqjyT54A1Dw27-ua8ZqiPg,ribcity,1181 Colonnade Ctr,Des Peres,MO,63131.0,38.602606,-90.441126,3.5,57,0,"{'GoodForKids': 'True', 'RestaurantsAttire': ""...","['Bars', 'Nightlife', 'Restaurants', 'Barbeque']","{'Tuesday': '11:0-20:0', 'Wednesday': '11:0-20...",True,"['2014-09-07 01:36:45', '2014-09-26 00:45:19',...","[3, 4, 1, 5, 1, 5, 4, 2, 5, 4, 4, 5, 2, 1, 1, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, ...",0.422275,18407.0,521.4,82030,1,not