In [1]:
import os

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantInfoComplete.csv')
df.head(3)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,StarSlope,population,pop_density,median_income,locations,chain
0,0,0,0,MTSW4McQd7CbVtyjqoe9mw,sthonorepastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...",0.831331,14984.0,10634.5,59706,1,not
1,1,1,1,CF33F8-E6oudUQ46HnavjQ,sonicdrivein,615 S Main St,Ashland City,TN,37015.0,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",-3.020524,18979.0,47.1,69514,48,medium
2,2,3,3,bBDDEgkFA1Otx9Lfe7BZUQ,sonicdrivein,2312 Dickerson Pike,Nashville,TN,37207.0,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","['Ice Cream & Frozen Yogurt', 'Fast Food', 'Bu...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"['2011-01-17 15:31:21', '2011-02-23 21:28:08',...","[3, 2, 1, 1, 1, 1, 1, 1, 5, 1]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-0.477870,40697.0,812.3,300000,48,medium

In [35]:
df['attributes'][1]

'{\'BusinessParking\': \'None\', \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsAttire\': "u\'casual\'", \'OutdoorSeating\': \'True\', \'RestaurantsReservations\': \'False\', \'Caters\': \'False\', \'RestaurantsTakeOut\': \'True\', \'Alcohol\': "u\'none\'", \'Ambience\': \'None\', \'GoodForKids\': \'True\', \'RestaurantsPriceRange2\': \'1\', \'ByAppointmentOnly\': \'False\', \'CoatCheck\': \'False\', \'DogsAllowed\': \'False\', \'RestaurantsTableService\': \'False\', \'RestaurantsGoodForGroups\': \'True\', \'RestaurantsDelivery\': \'True\', \'WiFi\': "u\'no\'", \'WheelchairAccessible\': \'True\', \'HasTV\': \'True\', \'HappyHour\': \'False\', \'DriveThru\': \'True\', \'BikeParking\': \'False\'}'

In [4]:
import pandas as pd

# Assuming your DataFrame is named df
df['RestaurantsTakeOut'] = df['attributes'].apply(lambda x: eval(x).get('RestaurantsTakeOut') if 'RestaurantsTakeOut' in eval(x) else None)

In [5]:
df['OffersTakeOut']

0         True
1         True
2         True
3         True
4         True
         ...
19030     True
19031    False
19032     True
19033     True
19034     True
Name: RestaurantsTakeOut, Length: 19035, dtype: object

In [34]:
df['Price'].nunique()

5